.modal__header
  .modal__close(ng-click='$ctrl.cancel()') &times;
  //h3.modal__caption

.modal__body.padding
  form.form(
    name='proposalForm'
    ng-init='$ctrl.proposalForm = {}'
    novalidate
    ng-submit='$ctrl.submitted = true; proposalForm.$valid && $ctrl.sendForm(proposalForm)'
  )
    .form__group.form__group_lg.margin_bottom_half
      input.form__input(
        ng-model='$ctrl.phone'
        name='phone'
        placeholder='Ваш телефон'
        required
      )
    ng-messages(for='proposalForm.phone.$error' ng-if='$ctrl.interacted(proposalForm.phone)')
      p.form__message.form__message_error(ng-message='required') Укажите телефон для связи

    button.button.button_underlined.button_block.button_lg Отправить
