include /src/components/icon/icon

.auth
  .container-fluid.auth__form

    include /src/components/big-logo/big-logo

    .padding_bottom
      button.button.button_block ДЕМО-ВЕРСИЯ

    h2 Авторизация

    form.form(ng-submit='loginCtrl.login()')
      .form__group.margin_bottom_half
        label.form__addon(for='login')
          +icon({icon: 'user'})
        input.form__input(
          id='login'
          ng-model='loginCtrl.user.login'
          name='login'
          placeholder='Логин'
        )
      .form__group.margin_bottom_half
        label.form__addon(for='password')
          +icon({icon: 'lock'})
        input.form__input(
          id='password'
          ng-model='loginCtrl.user.password'
          name='password'
          type='password'
          placeholder='Пароль'
        )

      div(ng-if='loginCtrl.errorCode')
        p.form__message.form__message_error(ng-show='loginCtrl.errorCode != 403') Неправильное имя пользователя или пароль
        p.form__message.form__message_error(ng-show='loginCtrl.errorCode == 403') У Вас нет доступа к данному ресурсу

      .padding_bottom_half
        button.button.button_block.button_grey ВХОД

      a.link(ui-sref='password-recovery') Забыли пароль?
