include /src/components/checkbox/checkbox


form.step
  .container
    .stepHeader
      .stepHeader__caption Сведения о ДТП (1/7)

    .europrotocolField.europrotocolField_column
      .europrotocolField__main
        .europrotocolField__label Адрес и время аварии:
      .europrotocolField__secondary
        .form__group.form__group_block.margin_bottom_small
          input.form__input(
            ng-model='epCtrl.europrotocol.address'
            name='address'
            placeholder='Адрес аварии'
          )
        .form__group.form__group_block
          input.form__input(
            ng-model='epCtrl.europrotocol.date'
            name='date'
            placeholder='Время аварии'
          )

    .europrotocolField
      .europrotocolField__label ТС повреждено:
      .europrotocolField__control
        div(
          fs-counter
          value='epCtrl.europrotocol.vehiclesDamaged'
          data-min='0'
          data-max='100'
          data-step='1'
          data-addclass='counter'
        )

    .europrotocolField
      .europrotocolField__label Раненных
      .europrotocolField__control
        div(
          fs-counter
          value='epCtrl.europrotocol.wounded'
          data-min='0'
          data-max='100'
          data-step='1'
          data-addclass='counter'
        )

    label.europrotocolField
      .europrotocolField__label Освидетельствование:
      .europrotocolField__control
        +checkbox({
          id: 'examination',
          'ng-model': 'epCtrl.europrotocol.examination'
        })

    label.europrotocolField
      .europrotocolField__label Материальный ущерб ТС:
      .europrotocolField__control
        +checkbox({
          id: 'propertyDamageOfVehicle',
          'ng-model': 'epCtrl.europrotocol.propertyDamageOfVehicle'
        })

    label.europrotocolField
      .europrotocolField__label Другому имуществу:
      .europrotocolField__control
        +checkbox({
          id: 'propertyDamage',
          'ng-model': 'epCtrl.europrotocol.propertyDamage'
        })

    .europrotocolField.europrotocolField_column
      .europrotocolField__main
        .europrotocolField__label Свидетели:
        .europrotocolField__control
          div(
            fs-counter
            value='epCtrl.witnessesCount'
            data-min='0'
            data-max='100'
            data-step='1'
            data-addclass='counter'
          )
      .europrotocolField__secondary(
        ng-show='epCtrl.europrotocol.witnesses.length'
        ng-repeat='witness in epCtrl.europrotocol.witnesses track by $index'
      )
        h4 Свидетель {{$index+1}}

        .form__group.form__group_block.margin_bottom_small
          input.form__input(
            ng-model='epCtrl.europrotocol.witnesses[$index].fullName'
            name='full_name'
            placeholder='ФИО'
          )
        .form__group.form__group_block.margin_bottom_small
          input.form__input(
            ng-model='epCtrl.europrotocol.witnesses[$index].address'
            name='address'
            placeholder='Адрес'
          )
        .form__group.form__group_block.margin_bottom_small
          input.form__input(
            ng-model='epCtrl.europrotocol.witnesses[$index].passport'
            name='passport'
            placeholder='Номер и серия паспорта'
          )
        .form__group.form__group_block.margin_bottom_small
          input.form__input(
            ng-model='epCtrl.europrotocol.witnesses[$index].phone'
            name='phone'
            placeholder='Контактный телефон'
          )
        .form__group.form__group_block
          input.form__input(
            ng-model='epCtrl.europrotocol.witnesses[$index].email'
            name='email'
            placeholder='E-mail'
          )

    label.europrotocolField.europrotocolField_column
      .europrotocolField__main
        .europrotocolField__label Оформление ДТП:
        .europrotocolField__control
          +checkbox({
            id: 'executionOfTrafficAccident',
            'ng-model': 'epCtrl.europrotocol.executionOfTrafficAccident'
          })
      .europrotocolField__secondary(ng-show='epCtrl.europrotocol.executionOfTrafficAccident')
        .form__group.form__group_block
          input.form__input(
            ng-model='epCtrl.europrotocol.badgeNumber'
            placeholder='Номер нагрудного значка'
          )

    .padding_vertical_half
      button.button.button_lg.button_block Далее
