include /src/components/icon/icon

.modal__header
  .modal__close(ng-click='$ctrl.cancel()') &times;
  h3.modal__caption Данные нового пользователя

.modal__body.container-fluid.padding_top_half
  form.form.row(
    id='creationForm'
    name='creationForm'
    novalidate
    ng-submit='$ctrl.submitted = true; creationForm.$valid && $ctrl.addUser()')
    .col-md-6
      .form__group.margin_bottom_half
        label.form__addon(for='name')
          +icon({icon: 'user'})
        input.form__input(
          id='name'
          name='name'
          ng-model='$ctrl.user.name'
          required
          placeholder='Имя'
        )
      ng-messages(for='creationForm.name.$error' ng-if='$ctrl.interacted(creationForm.name)')
        p.form__message.form__message_error(ng-message='required') Укажите имя пользователя

    .col-md-6
      .form__group.margin_bottom_half
        label.form__addon(for='phone')
          +icon({icon: 'phone'})
        input.form__input(
          id='phone'
          name='phone'
          ng-model='$ctrl.user.phone'
          ui-mask='+7 (999) 999-99-99'
          ui-options='{clearOnBlur: false}'
          placeholder='+7 (***) ***-**-**'
          required
        )
        //placeholder='Введите телефон'
        //ng-pattern='/^\d{10}$/'
        //ng-minlength='10'
        //ng-maxlength='15'
      p.form__message.form__message_error(
        ng-if='(creationForm.phone.$error.required || creationForm.phone.$error.mask)' +
        '&& $ctrl.interacted(creationForm.phone)'
      ) Укажите телефон
      //ng-messages(
      //  for='creationForm.phone.$error'
      //  ng-show='$ctrl.interacted(creationForm.phone)'
      //)
        //p.form__message.form__message_error(ng-message='required') Укажите телефон
        //p.form__message.form__message_error(ng-message='minlength') Не менее 10 цифер в номере
        //p.form__message.form__message_error(ng-message='maxlength') Не более 15 цифр в номере
        p.form__message.form__message_error(ng-message='pattern') Допустимый формат 10 цифер
        //p.form__message.form__message_error(ng-message='pattern') Допустимы только 10 цифр

    .col-md-6
      .form__group.margin_bottom_half
        label.form__addon(for='email')
          +icon({icon: 'mail'})
        input.form__input(
          type='email'
          id='email'
          name='email'
          ng-model='$ctrl.user.email'
          required
          placeholder='E-mail'
        )
      ng-messages(for='creationForm.email.$error' ng-if='$ctrl.interacted(creationForm.email)')
        p.form__message.form__message_error(ng-message='required') Укажите email адрес
        p.form__message.form__message_error(ng-message='email') Email не корректен

    .col-md-6
      ng-dropdown-multiselect.dropdown.dropdown_block.margin_bottom_half(
        options='$ctrl.types'
        selected-model='$ctrl.selectedType'
        extra-settings='$ctrl.typesOptions'
        events='{onSelectionChanged: $ctrl.onTypeChanged}'
        disabled='!$ctrl.types.length'
      )
        toggle-dropdown
          .form__group.form__group_dropdown
            label.form__addon
              +icon({icon: 'user_settings'})
            input.form__input(
              ng-model='$ctrl.selectedType.label'
              name='type'
              required
              placeholder='Тип'
              readonly
              onfocus='this.blur()'
            )
      ng-messages(for='creationForm.type.$error' ng-if='$ctrl.interacted(creationForm.type)')
        p.form__message.form__message_error(ng-message='required') Выберите тип пользователя

    .col-md-6
      ng-dropdown-multiselect.dropdown.dropdown_block.margin_bottom_half(
        options='$ctrl.roles'
        selected-model='$ctrl.selectedRole'
        extra-settings='$ctrl.rolesOptions'
        events='{onSelectionChanged: $ctrl.onRoleChanged}'
        disabled='!$ctrl.roles.length'
      )
        toggle-dropdown
          .form__group.form__group_dropdown
            label.form__addon
              +icon({icon: 'pawn'})
            input.form__input(
              ng-model='$ctrl.selectedRole.label'
              name='role'
              required
              placeholder='Роль'
              readonly
              onfocus='this.blur()'
            )
      ng-messages(for='creationForm.role.$error' ng-if='$ctrl.interacted(creationForm.role)')
        p.form__message.form__message_error(ng-message='required') Выберите роль пользователя


    .col-md-6
      ng-dropdown-multiselect.dropdown.dropdown_block.margin_bottom_half(
        options='$ctrl.cities'
        selected-model='$ctrl.selectedCities'
        extra-settings='$ctrl.citiesOptions'
        events='{onSelectionChanged: $ctrl.onCitiesChanged, onItemSelect: $ctrl.onCitiesSelected}'
        disabled='!$ctrl.cities.length'
      )
        toggle-dropdown
          .form__group.form__group_dropdown
            label.form__addon
              +icon({icon: 'placeholder_fill'})
            input.form__input(
              ng-model='$ctrl.selectedCities.label'
              name='city'
              required
              placeholder='Город'
              readonly
              onfocus='this.blur()'
            )
      ng-messages(for='creationForm.city.$error' ng-if='$ctrl.interacted(creationForm.city)')
        p.form__message.form__message_error(ng-message='required') Выберите город пользователя

.modal__footer.clearfix
  .float-right
    button.button.button_sm(form='creationForm') Добавить
