include /src/components/icon/icon

.proposal
  .proposal__loader(ng-hide='proposalCtrl.locationIsDetected')
    img(src='/images/search-loader.gif' width='80')
    .padding_top Поиск спутников...

  .leaflet__wrap(ng-class='{visibility_hidden: !proposalCtrl.locationIsDetected}')
    leaflet(
      id='mainMap'
      markers='proposalCtrl.map.markers'
      center='proposalCtrl.map.center'
      width='100%'
      height='100vh'
    )
    button.leaflet__controlBtn.leaflet__controlBtn_rightTop(ng-click='proposalCtrl.detectLocation()')
      +icon({icon: 'gps-fix'})

    .leaflet__search
      form.form__group
        input.form__input(
          id='search'
          name='search'
          placeholder='Установите метку аварии...'
          ng-model='proposalCtrl.newAccident.address'
          uib-typeahead='item.formatted_address for item in proposalCtrl.searchLocations($viewValue)'
          typeahead-on-select='proposalCtrl.onSelectAddressTypeahead($item, $model, $label, $event)'
          typeahead-popup-template-url='views/components/uib-typeahead/uib-typeahead.html'
          autocomplete='off'
        )

  .proposal__footer
    .row
      .col-6.text_right.margin_vertical_half
        button.button.button_lg(ng-click='proposalCtrl.openContactModal("participant")') Участник
      .col-6.margin_vertical_half
        button.button.button_lg.button_lightgrey(ng-click='proposalCtrl.openContactModal("eyewitness")') Очевидец
