include /src/components/checkbox/checkbox
include /src/components/radio-button/radio-button


form.step
  .container
    .stepHeader
      .stepHeader__caption Обстоятельства (4/7)

    h4.europrotocolField Обстоятельства ДТП. Содержит данные о движении транспортных средств в момент ДТП:

    .europrotocolField.europrotocolField_column(
      ng-repeat='question in CircumstancesCtrl.circumstances.questions'
    )
      .europrotocolField__main
        .europrotocolField__label {{question.title}}
      .europrotocolField__secondary
        .europrotocolField__main
          .europrotocolField__main.europrotocolField__main_left
            label.europrotocolField__main.europrotocolField__main_inline
              .europrotocolField__label ТС "А"
              .europrotocolField__control
                +checkbox({
                  'ng-model': 'question.A',
                  'id': '{{question.id}}A'
                })
          .europrotocolField__main.europrotocolField__main_right
            label.europrotocolField__main.europrotocolField__main_inline
              .europrotocolField__label ТС "В"
              .europrotocolField__control
                +checkbox({
                  'ng-model': 'question.B',
                  'id': '{{question.id}}B'
                })

    .europrotocolField.europrotocolField_column
      .form__group.form__group_block.margin_bottom_small
        input.form__input(
        ng-model='CircumstancesCtrl.circumstances.otherForDriverA'
        name='address'
        placeholder='Иное (для водителя ТС "А")'
      )
      .form__group.form__group_block
        input.form__input(
        ng-model='CircumstancesCtrl.circumstances.otherForDriverB'
        name='date'
        placeholder='Иное (для водителя ТС "B")'
      )

    .padding_vertical_half
      a.button.button_lg.button_block(ui-sref='europrotocol') Далее
